model/coupled_v1/copuled_with_fix_parameters/ 
model/HGS/stand_alone/lys/hgs/.Rhistory
model/HGS/stand_alone/lys/hgs/hgs_dssat_info_Better.txt
model/HGS/stand_alone/lys/hgs/nfmb_shp.qix
model/HGS/stand_alone/lys/hgs_multi_from_one_shp/
model/HGS/stand_alone/lys/hgs_onezone/
model/HGS/stand_alone/lys/hgs_origin/
model/HGS/stand_alone/lys/hgs_syntethic_field/
codebase/pyHGSDSSAT/.ipynb_checkpoints/
codebase/pyHGSDSSAT/pyHGSDSSAT.egg-info/
codebase/pyHGSDSSAT/pyHGSDSSAT/__pycache__/
model/.ipynb_checkpoints/
model/HGS/stand_alone/lys/hgs/.gitignore
model/HGS/stand_alone/lys/hgs/.ipynb_checkpoints/